@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Lato:300|Merriweather:300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    background-color: rgb(73, 87, 104);
    color: white;
    font-family: 'Merriweather', sans-serif;
}

#bg_img{
    background: url("/static/admin_app/thread.jpeg") no-repeat fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#container{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 0.9em;
}

.spacer{
    width: 100%;
    height: 185px;
}

#nav{
    text-align: center;
    padding: 20px 0px;
    position: fixed;
    margin: 0px auto;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: 0.4s;
    font-size: .85em;
}

#bg_nav{
    text-align: center;
    padding: 20px 0px;
    position: fixed;
    margin: 0px auto;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: 0.4s;
    font-size: .85em;
}

.reg_nav_bg{
    /* background: url("/static/admin_app/thread.jpeg") no-repeat fixed; */
    /* background-size: cover; */
    height: 80px;
}

.reg_nav_bg #home{
    font-size: 70px;
}

.reg_nav{
    background-color: rgb(73, 87, 104);
    height: 80px;
}

.reg_nav #home{
    font-size: 70px;
}

.scrolled_nav{
    background-color: rgb(73, 87, 104);
    height: 60px;
}

.scrolled_nav #home{
    font-size: 50px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    opacity: 0.6;
}


#nav_icon, .dropdown{
    display: none;
}

#nav ul{
    list-style-type: none;
    margin: 0px;
}

#nav li{
    display: inline-block;
    padding: 0px 15px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.3em;
}

#nav #user, #bg_nav #user{
    text-align: right;
    margin-right: 3%;
}


#links{
    display: grid;
    grid-template-columns: 5fr repeat(5, 1fr);
    align-items: center;
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    /* justify-content: space-evenly; */
    width: 100%;
    margin: 0 auto;
}

#links p:not(#home){
    text-transform: lowercase;
}


#home{
    font-family: 'Alex Brush', cursive;
    margin: 0px;
    color: rgba(255, 255, 255, 0.856);
    display: inline-block;
    font-weight: normal;
    text-align: left;
    padding-left: 50px;
    transition: 0.4s;
}

#quote{
    margin: 0 auto;
    width: 400px;
    height: 100vh;
    min-height: 600px;
    font-size: 2.9em;
    text-align: left;
    box-sizing: border-box;
    padding-top: 10%;
    position: relative;
}

#quote p:nth-child(3){
    margin-left: 25%;
}

#quote p:nth-child(4){
    margin-left: 50%;
}

.arrow{
    height: 15px;
    width: 15px;
    border: 1px solid white;
    border-width: 1px 1px 0 0;
    transform: rotate(135deg);
    margin: 0 auto;
}

#arrows div:nth-child(1){
    opacity: 0.3;
}

#arrows div:nth-child(2){
    opacity: 0.6;
}

#arrows{
    width: 100%;
    position: absolute;
    bottom: 20px;
    animation: 2s blinking infinite;
    -webkit-animation: 2s blinking infinite;
}

@keyframes blinking{
    50%{
        opacity: 0;
    }
}

#about{
    height: 600px;
    display: grid;
    align-items: center;
    background-color: rgb(73, 87, 104);
}


#learn_more{
    display: inline-block;
    position: relative;
    border: none;
    cursor: pointer;
    margin: 20px 30px;
    background-color: rgba(0,0,0,0.09);
}
#learn_more a{
    display: block;
    padding: 25px 80px;
}
#learn_more::before, #learn_more::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
}

#learn_more a::before, #learn_more a::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
}
#learn_more:hover::before, #learn_more:hover::after{
    width: 100%;
}
#learn_more:hover a::before, #learn_more:hover a::after{
    height: 100%;
}
#learn_more::before, #learn_more::after{
    transition-delay: 0.2s;
}
#learn_more a::before, #learn_more a::after{
    transition-delay: 0s;
}
#learn_more::before{
    right: 0;
    top: 0;
}
#learn_more::after{
    left: 0;
    bottom: 0;
}
#learn_more a::before{
    left: 0;
    top: 0;
}
#learn_more a::after{
    right: 0;
    bottom: 0;
}
#learn_more:hover::before, #learn_more:hover::after{
    transition-delay: 0s;
}
#learn_more:hover a::before, #learn_more:hover a::after{
    transition-delay: 0.2s;
}

#ad{
    width: 40%;
    margin: 0px auto;
    line-height: 2em;
}

#services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
    margin-bottom: 130px;
}

#services>div{
    /* margin: 20px; */
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-height: 150px;
}


#services ul{
    list-style-position: outside;
    display: inline-block;
}

#services ul li{
    text-align: left;
    line-height: 1.5em;
}


#img_upload{
    width: 400px;
    border-radius: 5px;
    margin: 5px auto;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.295);
}

.delete_img{
    display: none;
}

.image{
    position: relative;
}

.image:hover .delete_img{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}

.delete_btn{
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.delete_btn:hover{
    opacity: 0.6;
    cursor: pointer;
}

.images{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 150px;
}

.img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

.img:hover{
    filter: grayscale();
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8);
    transform: scale(1.01);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Add Animation */
.modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


#contact{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    text-align: left;
    /* padding: 0px 0px 0px 10px; */
}

.contact_info{
    line-height: 2em;
}

.indent{
    padding-left: 16px;
}

#map{
    opacity: 0.7;
    width: 400px;
    height: 500px;
    display: inline-block;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}

#footer{
    width: 100%;
    height: 80px;
    background-color: rgb(235, 169, 28);
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.9em;
}

.fixed_bottom{
    position: fixed;
    bottom: 0;
}

.fixed_bottom_2{
    position: fixed;
    bottom: 0;
}

#footer div{
    text-align: left;
    margin: 0 auto;
}

#footer h4{
    padding-bottom: 5px;
    font-weight: normal;
    text-transform: uppercase;
}

#footer p{
    color: rgb(73, 87, 104);
}

.cursive{
    font-family: 'Alex Brush', cursive;
    font-size: 2em;
    font-weight: normal;
}

.bold{
    font-weight: bold;
    padding: 0px 1em;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}

.yellow{
    color: rgb(235, 169, 28);
    letter-spacing: 2px;
}

.account_form{
    margin: 0 auto;
    text-align: left;
    display: inline-block;
}

.account_form p{
    display: table;
}

.account_form input{
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}


@media only screen and (max-width:900px) {
    /* For mobile phones: */
    /* #container{
        padding-top: 5%;
    } */

    #services{
      grid-template-columns: 1fr;
    }

    #links{
        width: 100%;
        grid-template-columns: 1fr;
    }

    .scrolled_nav{
        height: 50px;
    }

    .reg_nav #home, .reg_nav_bg #home{
        text-align: center;
        font-size: 50px;
        padding-left: 0;
    }

    .scrolled_nav #home{
        text-align: center;
        font-size: 40px;
        padding-left: 0; 
    }

    .reg_nav #nav_icon, .reg_nav_bg #nav_icon{
        width: 35px;
    }

    .scrolled_nav #nav_icon{
        width: 30px;
    }
    
    #nav_icon{
        display: inline-block;
        position: fixed;
        z-index: 1;
        transition: 0.4s;
        left: 25px;
        top: 28px;
    }

    #links p:not(#home){
        display: none;
    }

    #user{
        display: none;
    }


    .show_dropdown{
        width: 160px;
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
        grid-template-rows: repeat(8, 5%);
        align-items: start;
        background: linear-gradient(rgba(235, 170, 28), rgb(73, 87, 104) 80%);
        position: absolute;
        left:0;
        top:0;
        padding: 70px 0 0 20px;
    }

    #quote{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10%;
    }

    #quote p:nth-child(3){
        margin-left: 0;
    }

    #quote p:nth-child(4){
        margin-left: 0;
    }

    .spacer{
        width: 100%;
        height: 150px;
    }

    #ad{
        width: 80%;
    }

    .note{
        padding: 0 10px;
    }
}

@media only screen and (max-width:600px) {
    #quote{
        /* font-size: 2em; */
        padding-top: 15%;
    }

    #ad{
        padding-top: 30px;
    }

    #map{
        width: 80%;
        height: 50%;
        display: inline-block;
    }

    .images{
        grid-template-columns: 1fr 1fr;
    }

    .modal-content {
        width: 100%;
    }

    #footer{
        grid-template-columns: 1fr;
        height: 200px;
    }
    
    #footer div{
        margin: 0 0 0 50px;
    }

    .fixed_bottom{
        position: static;
    }

    #services{
        margin-bottom: 0px;
    }

    .images{
        margin-bottom: 0px;
    }

    #img_upload{
        width: 300px;
    }
}