<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stitch Art - Account Info</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'admin_app/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'admin_app/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'admin_app/script.js' %}"></script>
</head>

<body>

    <div id="nav" class="reg_nav">
        <div id="user">

            {% if this_user %}
                Welcome Tracy! | 
                <a href="/account">Manage Account</a> | 
                <a href="/logout">logout</a>
            {% endif %}
        </div>
        <div id="small_nav">
            <img src="{% static 'admin_app/nav_icon.png' %}" alt="Nav Icon" id="nav_icon">
            <div class="dropdown">
                {% if this_user %}
                    <p>Welcome Tracy!</p>
                    <a href="/account">Manage Account</a>
                    <a href="/logout">logout</a>
                {% endif %}
                <a href="/#about">About</a>
                <a href="/services">Services</a>
                <a href="/engraving">Engraving</a>
                <a href="/gallery">Gallery</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <a id="home" href="/">Stitch Art</a>
        <div id="links">
            <a href="/#about">About</a>
            <a href="/services">Services</a>
            <a href="/engraving">engraving</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div id="container">
        <div class="spacer"></div>
        <form action="/update" method="post" class="account_form">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <p class="yellow">{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p>Email: <input type="text" name="newEmail" value="{{this_user.email}}"></p>
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == "old_pw" %}
                        <p class="yellow">{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p>Old Password: <input type="password" name="old_pw"></p>
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == "new_pw" %}
                        <p class="yellow">{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p>New Password: <input type="password" name="new_pw"></p>
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == "confirm_new_pw" %}
                        <p class="yellow">{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p>Confirm Password: <input type="password" name="confirm_new_pw"></p>
            <input type="hidden" name="user_id" value={{this_user.id}}>
            <input type="submit" value="Update">        
        </form>

    </div>
</body>

</html>