<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stitch Art - Contact</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'admin_app/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'admin_app/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'admin_app/script.js' %}"></script>
</head>

<body>

    <div id="nav" class="reg_nav">
        <div id="user">

            {% if this_user %}
                Welcome Tracy! | 
                <a href="/account">Manage Account</a> | 
                <a href="/logout">logout</a>
            {% endif %}
        </div>
        <div id="small_nav">
            <img src="{% static 'admin_app/nav_icon.png' %}" alt="Nav Icon" id="nav_icon">
            <div class="dropdown">
                {% if this_user %}
                    <p>Welcome Tracy!</p>
                    <a href="/account">Manage Account</a>
                    <a href="/logout">logout</a>
                {% endif %}
                <a href="/#about">About</a>
                <a href="/services">Services</a>
                <a href="/engraving">engraving</a>
                <a href="/gallery">Gallery</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <p id="home"><a href="/">Stitch Art</a></p>
        <div id="links">
            
            <p><a href="/#about">About</a></p>
            <p><a href="/services">Services</a></p>
            <p><a href="/engraving">engraving</a></p>
            <p><a href="/gallery">Gallery</a></p>
            <p><a href="/contact">Contact</a></p>
        </div>
    </div>
    
    <div id="container">
        <div class="spacer"></div>
        <div id="contact">
            <h3 class="cursive yellow">Store Hours:</h3> <p>MON - FRI 10 AM - 6 PM</p>
            <h3 class="cursive yellow">Closed:</h3> <p>SAT & SUN</p>
            <br>
            <p class="contact_info"><i class="fa fa-phone fa-lg yellow"></i> <a href="tel:818-937-9828">(818) 937-9828</a></p>
            <p class="contact_info"><i class="fa fa-envelope fa-lg yellow"></i> <a href="mailto:info@stitchartla.com">info@stitchartla.com</a></p>
            <p class="contact_info"><i class="fa fa-instagram fa-lg yellow"></i> <a href="https://www.instagram.com/stitchartla" target="_blank">@stitchartla</a></p>

            <p class="contact_info"><i class="fa fa-map-marker fa-lg yellow"></i> <a href="http://maps.google.com/?q=651 W Broadway, Glendale, California, 91204" target="_blank">651 W Broadway
                <br><span class="indent">Glendale, CA 91204</span></a></p>
        </div>
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.9685010261587!2d-118.27098168478238!3d34.14714798058016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c0593e0f6abb%3A0x5710de04ddd7c9b4!2s651%20W%20Broadway%2C%20Glendale%2C%20CA%2091204!5e0!3m2!1sen!2sus!4v1580855531897!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

    </div>

</body>

</html>