<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stitch Art - Engraving</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'admin_app/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'admin_app/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'admin_app/script.js' %}"></script>
</head>

<body>

    <div id="nav" class="reg_nav">
        <div id="user">

            {% if this_user %}
                Welcome Tracy! | 
                <a href="/account">Manage Account</a> | 
                <a href="/logout">logout</a>
            {% endif %}
        </div>
        <div id="small_nav">
            <img src="{% static 'admin_app/nav_icon.png' %}" alt="Nav Icon" id="nav_icon">
            <div class="dropdown">
                {% if this_user %}
                    <p>Welcome Tracy!</p>
                    <a href="/account">Manage Account</a>
                    <a href="/logout">logout</a>
                {% endif %}
                <a href="/#about">About</a>
                <a href="/services">Services</a>
                <a href="/engraving">engraving</a>
                <a href="/gallery">Gallery</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <a id="home" href="/">Stitch Art</a>
        <div id="links">
            <a href="/#about">About</a>
            <a href="/services">Services</a>
            <a href="/engraving">engraving</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <div id="container">
        <div class="spacer"></div>
        <div id="engraving">
            <h1 class="cursive title"><span>Engraving</span></h1>
            <h2 class="cursive">What can you engrave on?</h2>

            <div id="engrave_what">
                <div id="engrave_img_1">
                    <h4>leather</h4>
                </div>
                <div id="engrave_img_2">
                    <h4>wood</h4>
                </div>
                <div id="engrave_img_3">
                    <h4>metal</h4>
                </div>
                <div id="engrave_img_4">
                    <h4>and more...</h4>
                </div>
            </div>

        </div>

        <div id="footer" class="fixed_bottom">
            <div>
                <h4>Hours</h4>
                <p>Mon-Fri 10AM-6PM</p>
                <p>Sat-Sun CLOSED</p>
            </div>
            <div>
                <h4>Location</h4>
                <p><i class="fa fa-map-marker fa-lg"></i> <a href="http://maps.google.com/?q=651 W Broadway, Glendale, California, 91204" target="_blank">651 W Broadway
                    <br>Glendale, CA 91204</a>
                </p>
            </div>
            <div>
                <h4>Contact</h4>
                <p><i class="fa fa-phone fa-sm"></i> <a href="tel:818-937-9828">(818) 937-9828</a></p>
                <p><i class="fa fa-envelope fa-sm"></i> <a href="mailto:info@stitchartla.com">info@stitchartla.com</a></p>
            </div>
        </div>
    </div>
</body>

</html>