<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stitch Art - Home</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'admin_app/favicon.png' %}"/>
    {% load sass_tags %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% sass_src 'admin_app/style.scss' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'admin_app/script.js' %}"></script>
</head>

<body>
    <div id="banner">
        COVID-19 UPDATE: We are open for business, but we continue to practice the recommended safety measures so we kindly ask that you wear a mask when visiting.
    </div>
    <div id="bg_nav" class="reg_nav_bg">
        <div id="user">

            {% if this_user %}
                Welcome Tracy! | 
                <a href="/account">Manage Account</a> | 
                <a href="/logout">logout</a>
            {% endif %}
        </div>
        <div id="small_nav">
            <img src="{% static 'admin_app/nav_icon.png' %}" alt="Nav Icon" id="nav_icon">
            <div class="dropdown">
                {% if this_user %}
                    <p>Welcome Tracy!</p>
                    <a href="/account">Manage Account</a>
                    <a href="/logout">logout</a>
                {% endif %}
                <a href="/#about">About</a>
                <a href="/services">Services</a>
                <a href="/engraving">engraving</a>
                <a href="/gallery">Gallery</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <a id="home" href="/">Stitch Art</a>
        <div id="links">
            
            <a href="/#about">About</a>
            <a href="/services">Services</a>
            <a href="/engraving">engraving</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
        </div>
    </div>


    
    <div id="bg_img">
        <div id="quote">
            <h3 class="cursive">Custom garments.</h3>
            <h3 class="cursive">You think it...</h3>
            <h3 class="cursive">...We make it</h3>

            <div id="arrows">
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
            </div>
        </div>
    
    <div id="about">
        <p><span class="cursive">Stitch Art</span> is your source for custom t-shirts & personalization! Since <span class="bold">2010</span>, Stitch Art has been the best source in <span class="bold">Glendale/Los Angeles</span> for screen printing, embroidery, photo transfers, Tackle Twill, direct-to-garment printing (DTG), and more...</p>
        <p class="italic">Reasonable pricing and quality guaranteed. </p>
        <br>
        <p class="italic">Rush services available.</p>
        <p class="italic bold">No job too big or too small...</p>
        <button id="learn_more" onclick="window.location.href='/services'"><p>Learn More</p></button>
    </div>
    <div id="footer">
        <div>
            <h4>Hours</h4>
            <p>Mon-Fri 10AM-6PM</p>
            <p>Sat-Sun CLOSED</p>
        </div>
        <div>
            <h4>Location</h4>
            <p><i class="fa fa-map-marker fa-lg"></i> <a href="http://maps.google.com/?q=651 W Broadway, Glendale, California, 91204" target="_blank">651 W Broadway
                <br>Glendale, CA 91204</a>
            </p>
        </div>
        <div>
            <h4>Contact</h4>
            <p><i class="fa fa-phone fa-sm"></i> <a href="tel:818-937-9828">(818) 937-9828</a></p>
            <p><i class="fa fa-envelope fa-sm"></i> <a href="mailto:info@stitchartla.com">info@stitchartla.com</a></p>
        </div>
    </div>
    </div>
</body>

</html>