<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stitch Art - Admin Login</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'admin_app/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'admin_app/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'admin_app/script.js' %}"></script>
</head>
<body>
    <div id="nav" class="reg_nav">
        <div id="user">

            {% if this_user %}
                Welcome Tracy! | 
                <a href="/account">Manage Account</a> | 
                <a href="/logout">logout</a>
            {% endif %}
        </div>
        <div class="small_nav">
            <img src="{% static 'admin_app/nav_icon.png' %}" alt="Nav Icon" id="nav_icon">
            <div id="dropdown">
                <a href="/#about">About</a>
                <a href="/services">Services</a>
                <a href="/shop">Shop</a>
                <a href="/gallery">Gallery</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <div id="links">
            
            <p id="home"><a href="/">Stitch Art</a></p>
            <p><a href="/#about">About</a></p>
            <p><a href="/services">Services</a></p>
            <p><a href="/shop">Shop</a></p>
            <p><a href="/gallery">Gallery</a></p>
            <p><a href="/contact">Contact</a></p>
        </div>
    </div>
    <div id="container">
        <div class="spacer"></div>
        <div class="login">
            <h2>Login</h2>
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == "login" %}
                        <p class="yellow">{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form action="/process_login" method="post" class="account_form">
                {% csrf_token %}
                <p>Email: <br><input type="text" name="email"></p>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == "email2" %}
                            <p class="error">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <p>Password: <br><input type="password" name="pw"></p>
                <input type="submit" value="Log In" class="button">
            </form>
        </div>
    </div>
</body>
</html>